{% extends 'home.html' %}
{% block title %}
{{post.title}}
{% endblock %}

{% block content %}
<h1> {{post.title}} </h1><br/><br/>
	<small>Published {{post.pub_date}}</small><br>
	<small>by: {{post.author}}</small><br/>
	<hr><br/>
	<div class="container">
		{%if post.header_image%}
			<img src="{{post.header_image.url}}">
		{%endif%}
	<br><br>	
	{{post.body | safe}}
	<br/><br/>
 </div>
<div class="row">
	<div class="col-lg-2">
		<a href="{% url 'home' %}" class="btn btn-dark">Back</a>
	</div>
	{% if user.is_authenticated %}
	<div class="col-lg-2">
	<a href="{% url 'update' post.pk %}" class="btn btn-warning">Edit</a>
	</div>
	<div class="col-lg-2">
		<a href="{% url 'delete' post.pk %}" class="btn btn-danger">Delete</a>
	</div>
	{% endif %}
</div>
{% endblock %}