{%extends 'home.html'%}

{%block title%}Cambiar Contraseña{%endblock%}

{%block content%}
<h1>Cambiar Contraseña de Usuario</h1><br>
<div class="card bg-warning">
    <ul>
        <li>La contraseña no debe ser similar a otra información personal.</li>
        <li>La contraseña debe contener al menos 8 caracteres alfanuméricos.</li>
        <li>La contraseña no debe ser una contraseña comunmente usada.</li>
        <li>La contraseña no puede ser enteramente numérica.</li>
    </ul>
</div><br>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary">Cambiar contraseña</button>
</form>

{%endblock%}